tag: "ovi_fusion_train"     

# For hf setting
push_to_hub   : false
hub_token     : null
hub_model_id  : null
# For logging setting
tracker_name  : null
ovi_mode    : i2v # t2v i2v MODIFIED
# dynamic_mode: DPO
output_dir  : ./log/avsync_ovi_i2v_sft_bs2_15_ ####################### bs_lr
report_to   : wandb   
ckpt_subdir : checkpoints
logging_subdir: logging
# dpo_loss_weight: 1
# sft_loss_weight: 1
wandb_init_args:
  mode      : "online" 
  project   : "Ovi"
  name      : "avsync_ovi_i2v_sft_bs2_15_"     #######################
  tags      : null
  notes     : ""

# Model setting for Ovi
ckpt_dir: "/home/chengxin/chengxin/Ovi/ckpts"                                      # Ovi checkpoint directory
fusion_checkpoint_path: "/home/chengxin/chengxin/Ovi/ckpts/Ovi/model.safetensors"  # Fusion model checkpoint


# Ovi model trainable setting MODIFIED
lora_config:
  lora_load_path: null
  use_lora: true
  rank: 128  
  lora_alpha: 64
  lora_modules: [ 
    'k_fusion', 'v_fusion',
    'self_attn.q', 'self_attn.k', 'self_attn.v', 'self_attn.o', 
    'cross_attn.q', 'cross_attn.k', 'cross_attn.v', 'cross_attn.o'
  ]
block_config:
  train_va: false   
optimize_params : null # ["fusion"] 


# Training parameters
resume_from_checkpoint  : null #/home/chengxin/chengxin/vagen/log/avsync_ovi_i2v_sft_bs2_15/checkpoints/checkpoint_0 # '/home/chengxin/chengxin/vagen/log/wan_sd_ttva_55/checkpoints/checkpoint_8'
# Seed and precision
seed            : 103
mixed_precision : bf16   # Options: ["null", "fp16", "bf16"]
allow_tf32      : false 
# matmul_precision  : medium 
# Steps and saving
num_train_epochs        : 32       #### MODIFIED
max_train_steps         : null 
checkpointing_steps     : 1000    
checkpoints_total_limit : 40 
# For batch and LR setting
num_workers             : 3        
train_batch_size_local  : 2        #### MODIFIED
gradient_accumulation_steps : 1    
learning_rate   : 1e-5             
dpo_beta : 1e-1                              
scale_lr        : false     
lr_scheduler    : "cosine_with_restarts"  
lr_warmup_steps : 1000
lr_num_cycles   : 1
lr_power        : 1.0
# For optimizing training
enable_slicing  : false 
enable_tiling   : false 
ema_update_step_interval: 1
ema_decay               : 0.9
gradient_checkpointing  : true
find_unused_parameters  : true  



# Optimizer
optimizer       : "adam" 
use_8bit_adam   : false    
adam_beta1      : 0.9
adam_beta2      : 0.95
prodigy_beta3     : null   
prodigy_decouple  : false  
adam_weight_decay : 0.0001
adam_epsilon      : 0.00000001
max_grad_norm     : 1.0    # [1.0, 0.5] 
prodigy_use_bias_correction : false  
prodigy_safeguard_warmup    : false  



# Dataset information
# Video processing



hy_dataloader:
  video_index_file: "/home/chengxin/chengxin/vagen/data/ttva/avsync_train_easy.json"    # MODIFIED
  batch_size : ${train_batch_size_local}  
  # dataset setting
  load_mode: "video_audio" # video_audio_dpo  video_audio
  video_size: [992, 512]
  fps : 24                  
  max_frames: 121            
  target_sr: 16000            
  target_channels: 1          
  target_duration: 5.0      
  uncond_prob: 0.0          
  weights: [0,0,10]         ##########["mask_video", "mask_audio", "shift"]  ############# w1 [0,0,10]   w2 [10,10,10] 
  # DataLoader parameters
  shuffle: true               
  num_workers: ${num_workers}
  prefetch_factor: 2




# Validation
validation: 
  scheduler:
    flow_shift: 5.0          
    num_train_timesteps: 1000
  
  eval_steps: ${checkpointing_steps}
  prompt_index_file: /home/chengxin/chengxin/vagen/data/ttva/avsync_test_easy.json    # MODIFIED
  mode: ${ovi_mode}
  batch_size : 1
  num_va_per_prompt: 1
  seed: ${seed}
  slg_layer: 11
  num_inference_steps: 30                                                             # MODIFIED
                       
  v_negative_prompt : "jitter, bad hands, blur, distortion"
  video_size: ${hy_dataloader.video_size}
  v_guidance_scale: 4      

  a_negative_prompt : "robotic, muffled, echo, distorted"
  a_guidance_scale: 3

  data_info:
    video_info:
      fps: ${hy_dataloader.fps}
    audio_info:
      sr: ${hy_dataloader.target_sr}
      channels: ${hy_dataloader.target_channels}